{% extends 'base.html' %} {% block content %} {% load static %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{ site_settings.background.url }}');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">{{ site_settings.title }}</h1>
          <h4>{{ site_settings.sub_title }}</h4>
        </div>
      </div>
    </div>
  </div>
<div class="main main-raised section-dark">
    <div class="container container-portfolio">
        <div class="section text-center">
            <div class="row justify-content-center" id="lightgallery">
                {% for photo, exif in photos_exif %}
                <div class="col-md-4" 
                    data-src="{{photo.photo_large.url}}" 
                    data-lg-slide-name="{{photo.id}}"
                    data-download-url="{{photo.photo_full.url}}"
                    data-filename="{{exif.filename}}"
                    data-datetimeoriginal="{{exif.date}}"
                    data-fnumber="{{exif.aperture}}"
                    data-exposuretime="{{exif.exposure}}"
                    data-isospeedratings="{{exif.iso}}"
                    data-focallength="{{exif.focallength}}"
                    data-lensmodel="{{exif.lens}}"
                    data-model="{{exif.model}}"
                    data-make="{{exif.make}}"
                    >
                    <a href="">
                        <img class="img img-portfolio" src="{{photo.photo_thumb.url}}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<script type="text/javascript">

    $(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
</script>
{% endblock %}