{% extends 'base.html' %} {% block content %} {% load static %}
<!-- Carousel Card -->

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  {% for num in photo_num %}
    <li data-target="#carouselIndicators" data-slide-to="{{num}}" {% if forloop.first %} class="active" {% endif %}></li>
  {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for frontpage_element in frontpage_elements %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <div class="page-header header-filter" style="background-image: url({{frontpage_element.image.photo_large.url}});">
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="homepage-text" >
    <div class="col-md-5 ml-auto mr-auto text-center">
      <img src="{% static '/img/logo_white_text.svg' %}" class="img-fluid homepage-logo">
      <div class="buttons">
      
        <a href="{% url 'portfolio' %}" class="btn btn-white btn-link btn-round" style="border: 2px solid white;">
          Portfolio
        <div class="ripple-container"></div></a>
      </div>
      <div class="buttons">
        <a href="https://www.facebook.com/krakenesphotography" class="btn btn-just-icon btn-white btn-link">
          <i class="fa fa-facebook-square"></i>
        <a href="https://www.flickr.com/photos/187999850@N04/" class="btn btn-just-icon btn-white btn-link">
          <i class="fa fa-flickr"></i>
        </a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="" data-target="#carouselIndicators" role="button" data-slide="prev">
    <i class="material-icons">keyboard_arrow_left</i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="" data-target="#carouselIndicators" role="button" data-slide="next">
    <i class="material-icons">keyboard_arrow_right</i>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- End Carousel Card -->

{% endblock %}
