{% extends 'base.html' %} {% block content %} {% load static %}
<div class="main section-dark signup-page">
    <div class="container portfolio">
        <div class="row">
            {% for photo in photos %}
            <div class="col-md-4">
                <div class="card card-profile card-plain photo-shadow">
                    <div class="card-header card-header-image">
                        <a href="#pablo">
                        <img class="img" src="{{photo.photo_thumb.url}}">
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
