{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
{% load static %}
<div class="page-header header-filter" style="background-image: url({% static 'img/login.jpg'%}); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="card card-signup signup-card-custom">
          <h2 class="card-title text-center">{% trans "Account Inactive" %}</h2>
          <div class="card-body text-center">

            <p>{% trans "This account is inactive." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
