{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load static %}
<div class="page-header header-filter" style="background-image: url({% static 'img/login.jpg'%}); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="card card-signup signup-card-custom">
          <h2 class="card-title text-center">{% trans "Change Password" %}</h2>
          <div class="card-body">


            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" placeholder="Current Password" class="form-control" required="required" name="oldpassword" id="id_oldpassword"/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" placeholder="New Password" class="form-control" minlength="8" required="required" name="password1" id="id_password1"/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" placeholder="New Password (again)" class="form-control" minlength="8" required="required" name="password2" id="id_password2"/>
                  </div>
                </div>
                <div class="form-group text-center">
                  <input type="submit" class="btn btn-primary btn-round" value="Change Password"/>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
