{% extends 'base.html' %} {% block content %} {% load static %}
<!-- Page Content -->

<!-- Hero Section-->
<div class="index-header">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url({% static 'img/blackboard-background.jpg'%})">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Kråkenes</h1>
            <h3 class="title text-center">A tech blog.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <h5 class="description">
          <strong>Welcome</strong> to my personal website.
          Here I will write about technology and personal projects, covering
          everything from software and web development, to process automation and home automation.
          I might even write about beer, cars and DIY hifi...
          <br>
        
          </br>
          I am a Master's degree student studying <strong>Industrial IT and Automation</strong> while
          working as an Automatician in the oil and gas industry in Norway.
        </p>
        
      </div>
      <br>
      <h3 class="title text-center">Latest Blogposts</h3>
      
      <div class="row">
        {% for post in posts.all|slice:":3" %}
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-header card-header-image">
              <a href="{% url 'post' post.id %}">
                <img class="img" src="{{ post.image.url }}">
              </a>
            <div class="colored-shadow" style="background-image: url(&quot;{{ post.image.url }}&quot;); opacity: 1;"></div></div>
            <div class="card-body ">
              <h6 class="card-category text-success">{{ post.category }}</h6>
              <h4 class="card-title">
                <a href="{% url 'post' post.id %}">{{ post.title }}</a>
              </h4>
            </div>
            <div class="card-footer ">
              <div class="author">
                <a href="{% url 'post' post.id %}">
                  <img src="{{ post.author.profile.profile_picture.url }}" alt="..." class="avatar img-raised">
                  <span>{{ post.author }}</span>
                </a>
              </div>
              <div class="stats ml-auto">
                <i class="material-icons">schedule</i> {{ post.pub_date_pretty }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="{% url 'blog' %}" class="btn btn-primary btn-round btn-lg" role="button" aria-disabled="true">Show more</a>
    </div>
  </div>
</div>

{% endblock %}
