{% extends 'base.html' %} {% block content %} 
{% load staticfiles %} {% load hitcount_tags %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url({{ post.image.url }});">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 class="title">{{ post.title }}</h1>
        <h4>{{ post.description }}</h4>
        <br>
        <a href="javascript: window.scrollBy({
          top: 75 * window.innerHeight/100,
          left: 0,
          behavior: 'smooth'
          });" class="btn btn-rose btn-round btn-lg"><i class="material-icons">format_align_left</i> Read Article</a>
      </div>
    </div>
  </div>
</div>
<div class="main blog-post main-raised section-dark">
  <div class="container">
    <div class="section section-text ">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <p>{{ post.content | safe }}</p>
        </div>
      </div>
    </div>
    <div class="section section-blog-info">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="row">
            <div class="col-md-9">
              <div class="blog-tags">
                Tags:
                {%for tag in post.tags.all%}
                <span class="badge badge-primary badge-pill">{{ tag }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-3 text-right author">
              <p class="date-views"><i class="fa fa-eye"></i>{% get_hit_count for post %}     <i class="fa fa-clock-o"></i>{{ post.pub_date_pretty }}</p>
            </div>
          </div>
          <hr>
          <div class="card card-profile card-plain">
            <div class="row">
              <div class="col-md-2">
                <div class="card-avatar">
                  <img class="img" src="{{ post.author.profile.profile_picture.url }}">
                  <div class="ripple-container"></div>
                </div>
              </div>
              <div class="col-md-8">
                <h4 class="card-title">{{ post.author.get_full_name|default:post.author.username }}</h4>
                <p class="description">{{ post.author.profile.description }}</p>
              </div>
              <div class="col-md-2">
                <a href="https://github.com/haavardnk/" class="btn btn-github btn-round float-right">
                  <i class="fa fa-github"></i>
                </a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
