/* your styles go here */

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px; /* height of your footer */
   }

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }

.profile_pic {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 0px;
  }