.index-header .page-header {
    height: 65vh;
    overflow: hidden; }

.index-header .brand {
    color: #fff;
    text-align: center; }
    .index-header .brand h1 {
    font-size: 4.2rem;
    font-weight: 600;
    display: inline-block;
    position: relative; }
    .presentation-page .brand h3,
    .index-header .brand h3 {
    font-size: 1.313rem;
    max-width: 500px;
    margin: 10px auto 0; }

.date-views{
    white-space:pre; /* or pre-wrap if you want wrapping to still work. */
}
.login-password-error {
    display: none
}
.login-user-error {
    display: none
}
.signup-password-error {
    display: none
}
.signup-user-error {
    display: none
}
.signup-email-error {
    display: none
}
.login-alert {
    margin-top: 15px;
    margin-bottom: -15px
}
.logo-image {
    width: 175px;
    height: 40px;

    overflow: hidden;
    margin-top: -1px;
}
.logo-image2 {
    width: 40;
    height: 40px;

    overflow: hidden;
    margin-top: -1px;
}
.dark-background {
    background-color: #232323;
}
a:hover {
    cursor:pointer;
}
.signup-card-custom {
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-portfolio{
    min-height: 100vh;
}
.img-portfolio{
    width: 100%;
    border-radius: 3px;
    transition: all .2s cubic-bezier(.4,0,.2,1);
    margin-top: 20px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.2);
}
.img-portfolio:hover{
    transform: scale(1.02);
}
.photo-shadow {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.photo-shadow:after {
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
.photo-shadow:hover {
-webkit-transform: scale(1.015, 1.015);
transform: scale(1.015, 1.015);
}
.search-color {
    color: #3C4858;
}
.homepage-link {
    left: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 70%;
    color: #ffffff;
    text-align: center;
    opacity: 0.5;
}
.homepage-text {
    position: absolute;
    top: 40vh;
    width: 100%;
    color: #FFF;
}

.homepage-logo {
    width:50%;
    padding-bottom: 15px;
}
.dark-form {
    color: rgba(255, 255, 255, 0.76)
}
@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff !important;
}