{% extends 'base.html' %} {% block content %} 
{% load staticfiles %} {% load hitcount_tags %}
<div class="page-header header-small header-filter" data-parallax="true" style="background-image: url({% static 'img/blackboard-background.jpg'%})">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>Nothing here yet...</h1>
          <h3 class="title text-center"></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section">
    </div>
  </div>
</div>
{% endblock %}